# Gordons Git Ignore #

activemq-data
amqstore
build/
*.class
.classpath
.clover
derby-home
derby.log
desktop.ini
.DS_Store
*.ear
.externalToolBuilders
.gradle/
.idea/
*.iml
*.ipr
*.iws
*.jar
*.log
.metadata
out/
.project
.settings/
.springBeans/
surefire*
*.swp
target/
testdb/
*.war
._*
