<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <include resource="loggermodules/header-config.xml" />
    <property resource="loggermodules/logger.properties" />

    <property name="log.dir" value="${user.dir}/${log.dir}" />
    <include resource="loggermodules/console-logger.xml" />
    <!--<include resource="loggermodules/spring-logger.xml" />-->
    <!--<include resource="loggermodules/hibernate-logger.xml" />-->

    <logger name="com.gordondickens" level="debug"/>

    <root level="warn">
        <appender-ref ref="console"/>
    </root>
</configuration>
